<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Clio | In and Out Board", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to('Edit Account', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path) %></li>
            <li><%= link_to('Register', new_user_registration_path) %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>